#divcontainer {
    float: none;
}
#lewygorny {
    border-style: solid;
    float: left;
    width: 400px;
    height: 400px;
    background-color: red;
}
#lewydolny {
    border-style: solid;
    float: left;
    width: 400px;
    height: 400px;
    background-color: darkturquoise;
}
#prawygorny {
    border-style: solid;
    float: right;
    width: 400px;
    height: 400px;
    background-color: blue;
}
#prawydolny {
    border-style: solid;
    float: right;
    width: 400px;
    height: 400px;
    background-color: darkmagenta;
}